:root {
    --clr-bg: hsl(217 54% 11%);
    --clr-card: hsl(216 50% 16%);
    --clr-white: hsl(0 100% 100%);
    --font-outfit: "Outfit", sans-serif;
    --clr-text-muted: hsl(215 51% 70%);
    --clr-cyan: hsl(178 100% 50%);
    --clr-divider: hsl(215 32% 27%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-bg);
    font-family: var(--font-outfit);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
}

.product-card {
    max-width: 21.875rem;
    background-color: var(--clr-card);
    padding: 1.5rem;
    border-radius: 1rem;
}

.product-image {
    max-width: 100%;
    border-radius: .5rem;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: var(--clr-cyan);
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.image-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.view-icon {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-wrapper:hover .view-icon{
    opacity: 1;
}

.image-wrapper:hover .overlay {
    opacity: 0.5;
    transform: scale(1);
    border-radius: .5rem;     
}


.product-title {
    display: inline-block;
    color: var(--clr-white);
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hoverable {
    cursor: pointer;
    transition: color .4s ease;
}

.hoverable:hover {
    color: var(--clr-cyan);
}

.product-description {
    line-height: 1.625rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--clr-text-muted);
    margin-bottom: 1.5rem;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    gap: .5rem;
}

 .price {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-cyan);
}

.time-left {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-text-muted);
}

.divider {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid var(--clr-divider);
}

.user-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-avatar {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--clr-white);
    border-radius: 50%;
}

.user-meta {
    color: var(--clr-text-muted);
    font-weight: 400;
    font-size: 1rem;
}

.user-name {
    color: var(--clr-white);
    margin-left: .5rem;
}