:root {
    --clr-bg: hsl(217 54% 11%);
    --clr-card: hsl(216 50% 16%);
    --clr-nft-title: hsl(0 100% 100%);
    --font-outfit: "Outfit", sans-serif;
    --clr-product: hsl(215 51% 70%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-bg);
    font-family: var(--font-outfit);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
}

.card {
    max-width: 21.875rem;
    background-color: var(--clr-card);
    padding: 1.5rem;
    border-radius: .94rem;
}

.product-image {
    max-width: 100%;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

h1 {
    color: var(--clr-nft-title);
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.product-description {
    line-height: 1.625rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--clr-product);
    margin-bottom: 1.5rem;
}

.information {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.left {
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.left img {
    border: 1px solid orange;
}

.left p {
    border: 1px solid purple;
}



